body {
    background-color: pink;
    text-align: center;
}
#img1 {
    width: 200px;
    height: 200px;
}

#img2 {
    width: 200px;
    height: 200px;
}

#img3 {
    width: 200px;
    height: 200px;
}

#img4 {
    width: 200px;
    height: 200px;
}

#img5 {
    width: 200px;
    height: 200px;
}
